<h3>Welcome to </h3>
<h3>Engineered Corrosion Solutions 2014!</h3>

<p>
Corrosion is fundamental to virtually every industry, facility and building.   Whether we are talking about corrosion under insulation at a refinery, a leaking cooling tower basin at a commercial building, peeling paint on a condominium association in Chicago, floor coating delamination in polar bear exhibit or a corrosion on a circuit board - the fundamental corrosion mechanisms are identical.  And, more often than most people realize, the fundamental means of remediation these issues are almost identical as well.
</p>

<p>
ECS is the first conference of its kind to focus exclusively on understanding corrosion (and erosion) on a practical, technical and fundamental level, state-of-the-art remedial solutions and understanding the total economic costs of corrosion.
</p>

<p>
ECS will include pull-out sessions developed specifically for clients to understand their specific corrosion and erosion issues, the process associated with these issues, the vast variety of solutions available to them and, most importantly, understanding the economics of choosing the appropriate remedial solution.
</p>

<p>
Each vendor is vetted to ensure that they maintain an extremely high level of integrity, provide outstanding customer service, are highly knowledgeable and have sound products and services.
</p>

<h2><%= link_to 'This Year\'s Lectures!', lectures_path %></h2>