<div class='banner'>
	<span class='welcome'>Welcome to</span>
	<span class='brand-name'>Engineered Corrosion Solutions 2014</span>
	<span class='limited-space'>Space is limited, reserve your spot now!</span>
	<div class='signup-button' id='vendor'>
		<%= link_to '<i class="icon-user icon-white"></i> Vendor'.html_safe, new_vendor_path, class: 'button-link' %>
	</div>
	<div class='signup-button' id='attendee'>
		<%= link_to '<i class="icon-user icon-white"></i> Attendee'.html_safe, new_attendee_path, class: 'button-link' %>
	</div>
</div>

<div class='center container'>

	<div class='tall card'>
		<span class='card-header'>Event Info</span>
		<span class='main-info'>
			<span class='big-info'>Thursday, March 13, 2014</span>
			<span class='small-info'>9am - 5pm</span>
			<span class='big-info'>Doubletree Hilton Hotel</span>
			<span class='small-info'>9599 Skokie Blvd.<br>Skokie, IL 60776</span>
			<span class='xsmall-info'><a href='http://doubletree3.hilton.com/en/hotels/illinois/doubletree-by-hilton-hotel-chicago-north-shore-conference-center-CHICCDT/index.html' target='_blank'><i class='icon-share'></i> Website</a>
			</span>
			<div class='googlemap'>
				<%= link_to 'http://goo.gl/maps/7pwbd', target: '_blank' do %>
				<img class='map' src='assets/map2.png'>
				<% end %>
			</div>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<i class='icon-chevron-right'></i>
			<span class='bold'>Corrosion is fundamental to virtually every industry, facility and building.</span>
			<span class='more-info'>Whether we are talking about corrosion under insulation at a refinery, a leaking cooling tower basin at a commercial building, peeling paint on a condominium association in Chicago, the fundamental corrosion mechanisms are identical.
			</span>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<i class='icon-chevron-right'></i>
			<span class='bold'>ECS is the first conference of its kind.</span>
      <span class='more-info'>We focus exclusively on understanding corrosion (and erosion) on a practical, technical and fundamental level, state-of-the-art remedial solutions and understanding the total economic costs of corrosion.
			</span>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<i class='icon-chevron-right'></i>
			<span class='bold'>ECS will include pull-out sessions for clients.</span>
      <span class='more-info'>Developed specifically to understand specific corrosion and erosion issues, the process associated with these issues, the vast variety of solutions available and, most importantly, understanding the economics of choosing the appropriate remedial solution.
      </span>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<i class='icon-chevron-right'></i>
			<span class='bold'>ECS evaluates each vendor to ensure high standards.</span>
			<span class='more-info'>Each vendor is vetted to ensure that they maintain an extremely high level of integrity, provide outstanding customer service, are highly knowledgeable and have sound products and services.
			</span>
		</span>
	</div>
</div>
<!--
<div class='container center'>
	<div class='lecture-button'>
		LECTURES LINK
	</div>
</div> -->