<% provide(:title, 'Lectures') %>
<div class='small-banner'>
  <span class='welcome'>Current Lectures at<span>
  <span class='brand-name'>Engineered Corrosion Solutions 2014!</span>
  <span class='limited-space'>(some eligible for CEUs)</span>
</div>
<div class='container'>
  <h1>Lectures</h1>
  <div class='fullwide card'>
    <span class='quick-info'>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Understanding corrosion from a practical and technical perspective.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Understanding erosion and corrosion issues in concrete and masonry.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Understanding the fundamentals and broad uses of hot dipped galvanizing.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Understanding how cathodic proaction can be used to remediate corrosion.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Barrier coating fundamentals.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Understanding the process involved in identify optimal corrosion solutions.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        Understanding the true life cycle costs and purchasing considerations for corrosion solutions.</span>
      <span class='vendor-info'><i class='icon-chevron-right'></i>
        The importance of third party inspection services and what they entail.</span>
    </span>
  </div>
</div>
</div>
</div>