<% provide(:title, 'Lectures') %>
<h1>Lectures</h1>
<p>
Our lectures, some of which will eligible for CEU,s will include are subject to change, but currently include:
</p>
<ul>
	<li>1.	Understanding corrosion from a practical and technical perspective.</li>
	<li>2.	Understanding erosion and corrosion issues in concrete and masonry.</li>
	<li>3.	Understanding the fundamentals and broad uses of hot dipped galvanizing.</li>
	<li>4.	Understanding how cathodic proaction can be used to remediate corrosion.</li>
	<li>5.	Barrier coating fundamentals.</li>
	<li>6.	Understanding the process involved in identify optimal corrosion solutions.</li>
	<li>7.	Understanding the true life cycle costs and purchasing considerations for corrosion solutions.</li>
	<li>8.	The importance of third party inspection services and what they entail.</li>
</ul>