<% provide(:title, 'Registration Complete') %>
<div class='small-banner'>
  <span class='above-brand'>Thank you for Participating in <span>
  <span class='brand'>Engineered Corrosion Solutions 2014</span>
</div>

<div class='center container'>
  <div class='fullwide card'>
    <span class='quick-info'>
      <span class='more-info bold'>Thanks for signing up:</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        You will receive an email shortly confirming your registration.
      </span>
    </span>
  </div>
</div>
