<% provide(:title, 'Current Vendors') %>
<div class='small-banner'>
	<span class='welcome'>Current Vendors Attending the<span>
	<span class='brand-name'>First Annual</span>
	<span class='brand-name'>Engineered Corrosion Solutions Trade Show!</span>
	<div class='sponsor-wrapper'>
		<span class='sponsor-text'>In Association with:</span>  
	  <a class='sponsor-link' href='http://www.chicagocoatingsgroup.com/' target='_blank'>
	  	Chicago Coatings Group, llc.
	  </a>
	</div>
</div>

<div class='container'>
	<div class='wide card'>
		<span class='quick-info'>
			<span class='more-info bold'>Current Vendors:</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				AZZ Galvanizing</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Carboline</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Corrpro</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				CIM Industries</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Fibrwrap</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Insituform</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				International Paint</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Odle</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Polar Clean</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				PPG</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Renewal Compounds / Belzona</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Sherwin Williams</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Temarust</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Versaflex</span>
		</span>
	</div>
</div>
</div>
</div>


















