<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ECS 2014, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have successfully signed up.<br>
    </p>
    <p>
      For more information visit, the <%= link_to 'ECS home page', @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>- ECS</p>
  </body>
</html>