<% provide(:title, "Registration") %>
<div class='small-banner'>
	<span class='above-brand'>Thank you for Participating in <span>
	<span class='brand'>Engineered Corrosion Solutions 2014</span>
</div>

<div class='container'>
	<div class='tall card'>
		<% if @attendee.paid? %>
			<span class='card-header'>Pay Registration</span>
			<div class='payment span4'><h3>PAID</h3></div>
		<% else %>
			<span class='card-header'>Pay Registration</span>
			<div class='payment span4'>
			  <!-- CHANGE THE URL HERE -->
				<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank">
				<input type="hidden" name="cmd" value="_s-xclick">
				<!-- CHANGE THE HOSTED_BUTTON_ID HERE -->
				<input type="hidden" name="hosted_button_id" value="NY7FV77SGNH98">
				<%= hidden_field_tag 'invoice', @attendee.id %>
				<!-- CHANGE THE CALLBACK URL HERE -->
				<%= hidden_field_tag 'notify_url', 'https://weap.localtunnel.me/payment_notifications' %>
				<input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
				<!-- REMOVE 'SANDBOX' FROM URL HERE -->
				<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<!-- REMOVE 'SANDBOX' FROM URL HERE -->
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			</div>
		<% end %>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<% if @attendee.paid? %>
				<span class='more-info bold'>Payment successful:</span>
				<span class='more-info'><i class='icon-chevron-right'></i>
					Registration complete, see you at the show.</span>
			<% else %>
				<span class='more-info bold'>Payment required:</span>
				<span class='more-info' style='color: red;'><i class='icon-chevron-right'></i>
					Registration incomplete, please pay fee via PayPal.</span>
			<% end %>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<span class='more-info bold'>Email:</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				You will receive an email shortly confirming your registration.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				After payment is complete you'll receive an email with your receipt.</span> 
		</span>
	</div>

</div>
</div>
</div>
