<% provide(:title, "Regisgtration #{@attendee.first_name}") %>
<h2>Pay Registration</h2>
<div class='center'>
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="MBBUCK6UUHEVJ">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="Attendee Registration">
	<input type="hidden" name="amount" value="1.00">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="button_subtype" value="services">
	<%= hidden_field_tag 'invoice', @attendee.id %>
	<%= hidden_field_tag 'notify_url', 'http://rails-ecs.herokuapp.com/payment_notifications' %>
	<input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
	<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
