<h1>Vendors</h1>

<% if @vendors.any? %>
	<% @vendors.each do |vendor| %>
		<strong><%= "#{vendor.first_name} #{vendor.last_name}" %></strong>
		<small><%= "#{vendor.vendor_name}" %></small>
		<small><%= "#{vendor.email} #{vendor.phone}" %></small>
	<% end %>
<% else %>
	<h2>No vendors.</h2>
<% end %>