@import 'bootstrap';

/* Misc, Mixins, Etc */
$greyHover: #c4c4c4;
$greyBackground: #dadada;
$brightRed: #C20909;
$brightBlue: #097FCE;
$blueHover: #0D91E9;

/* Universal */
html {
  overflow-y: scroll;
}

body {
  background: image-url('bg.png');
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  max-width: 940px;
  width: 80%;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  font-family: Montserrat Alternates, sans-serif;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

.navbar-inverse .navbar-inner {
  background-color: $brightRed;
  background-image: none;
  border: none;
  /*border-bottom: 1px solid white;*/
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: white;
  text-shadow: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    background-color: white;
    color: $brightRed;
  }
}

/* Home Page Banner */
.banner {
  width: 100%;
  height: 350px;
  background: image-url('banner_alt.png');
  background-position: 100% 50%;
  text-align: center;
  color: white;
}

.welcome {
  display: block;
  padding-top: 60px;
  font-size: 35px;
}

.brand-name {
  display: block;
  padding-top: 30px;
  font-size: 45px;
}

.limited-space {
  display: block;
  padding-top: 40px;
  font-size: 30px;
}

.signup-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  width: 160px;
  height: 50px;
  font-size: 30px;
  line-height: 45px;
  background-color: $brightRed;
  border-radius: 3px;
  a {
    display: block;
    color: white;
    width: 160px;
    height: 50px;
  }
  a:hover, a:focus {
    color: $brightRed;
    border-radius: 3px;
    background-color: white;
    text-decoration: none;
    outline: none;
  }
}

#vendor {
}

#attendee {
}

/* Information Cards */
.card {
  background-color: $greyBackground;
  border-bottom: 1px solid #999;
  border-radius: 2px;
  font-size: 1rem;
}

div.tall {
  display: inline-block;
  margin-top: 2%;
  width: 30%;
  float: left;
}

div.wide {
  display: block;
  margin-top: 2%;
  margin-left: 2%;
  width: 68%;
  float: right;
}

span.main-info {
  display: block;
  padding: 10px;
}

span.quick-info {
  display: block;
  padding: 15px;
  text-align: left;
}

span.bold {
  font-weight: bold;
}

/* Lecture Button */
.lecture-button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  width: 320px;
  height: 50px;
  font-size: 20px;
  line-height: 45px;
  background-color: $brightBlue;
  border-radius: 3px;
  a {
    display: block;
    color: white;
    width: 320px;
    height: 50px;
  }
  a:hover, a:focus {
    /*color: white;*/
    border-radius: 3px;
    background-color: $blueHover;
    text-decoration: none;
    outline: none;
  }
}

/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 10px;
  }
}