@import 'bootstrap';

/* Misc, Mixins, Etc */
$greyHover: #c4c4c4;
$greyBackground: #F5F5F5;
$darkGreen: #097054;
$lightGreen: #C5DBD5;
$brightOrange: #D89C41;
$lightOrange: #EBDCC6;
$brightBlue: #FF9900;
$blueHover: #0D91E9;

/* Universal */
html {
  overflow-y: scroll;
}

body {
  background: image-url('background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  max-width: 940px;
  width: 80%;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

div.alert {
  margin-bottom: 0;
  padding: 6px 35px 8px 14px  ;
  border-radius: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: left;
  color: white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */
.logo-top {
  margin-top: 6px;
  margin-bottom: -27px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: white;
  font-family: Montserrat Alternates, sans-serif;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

.navbar-inverse .navbar-inner {
  background-color: $darkGreen;
  background-image: none;
  border: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: white;
  text-shadow: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    background-color: white;
    color: $darkGreen;
  }
}

/* Sponsor Banner */
.assoc {
  display: block;
  color: #9B9B9B;
  font-size: 11px;
}

.sponsor a {
  display: block;
  color: #74B1DA;
  font-size: 20px;
  margin-top: -5px;
  text-shadow: 0px 1px 1px black;
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
    color: #93C4E5;
  }
}

/* Home Page Banner */
.banner {
  width: 100%;
  height: 300px;
  background: image-url('banner_alt.png');
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  border-bottom: 1px solid $greyBackground;
}

.small-banner {
  width: 100%;
  height: 260px;
  background: image-url('banner_alt.png');
  background-position: center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  border-bottom: 1px solid $greyBackground;
}

.welcome {
  display: block;
  padding-top: 25px;
  font-size: 20px;
  text-shadow: 0px 1px 1px black;
}

.above-brand {
  display: block;
  padding-top: 82px;
  font-size: 40px;
  text-shadow: 0px 1px 1px black;
}

.brand {
  display: block;
  padding-top: 40px;
  font-size: 40px;
  text-shadow: 0px 1px 1px black;
}

.brand-name {
  display: block;
  padding-top: 82px;
  font-size: 40px;
  text-shadow: 0px 1px 1px black;
}

/* Signup Buttons */
.signup-button {
  display: inline-block;
  margin: 0 auto;
  /*margin-top: 30px;*/
  width: 150px;
  height: 50px;
  font-size: 20px;
  line-height: 48px;
  background-color: $brightOrange;
  border-radius: 3px;
  a {
    display: block;
    color: #3f3f3f;
    width: 150px;
    height: 50px;
  }
  a:hover, a:focus {
    color: $brightOrange;
    border-radius: 3px;
    background-color: white;
    text-decoration: none;
    outline: none;
  }
}

.icon-user {
  margin-top: 5px;
}

/* Event Info Cards */
span.show {
  text-align: center !important;
}

.show-name {
  font-size: 26px;
  color: $darkGreen;
}

.show-about {
  font-size: 18px;
}

.big-info {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 6px;
}

.small-info {
  display: block;
  font-size: 20px;
  padding-bottom: 8px;
}

.xsmall-info {
  display: block;
  font-size: 16px;
  a:hover {
    text-decoration: none;
  }
}

.googlemap {
  margin-top: 20px;
}

.map {
  border-radius: 3px;
  width: 90%;
  height: 90%;
  border-bottom: 1px solid #999;
}

span.card-header {
  display: block;
  background-color: $darkGreen;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 1px solid black;
}

/* Information Cards */
.card {
  border-bottom: 1px solid #999;
  border-radius: 7px;
  font-size: 0.9rem;
}

.tall-outer {
  display: inline-block;
  float: right;
  width: 35%;
  margin-top: 2%;
}

div.tall-inner {
  background-color: $lightGreen;
  margin-bottom: 6%;
}

div.tall {
  background-color: $lightGreen;
  display: inline-block;
  margin-top: 2%;
  width: 35%;
  float: right;
}

div.centered {
  display: block;
  margin: 0 auto;
  background-color: $lightGreen;
  margin-top: 50px;
  width: 35%;
}

div.wide {
  background-color: $greyBackground;
  display: block;
  margin-top: 2%;
  width: 63%;
  float: left;
}

div.fullwide {
  background-color: $greyBackground;
  display: block;
  margin-top: 2%;
  width: 100%;
  float: left;
}

span.main-info {
  display: block;
  padding: 10px;
}

span.quick-info {
  display: block;
  padding: 15px;
  text-align: left;
}

span.bold {
  font-weight: bold;
}

span.more-info {
  display: block;
  padding-top: 5px;
}

span.speaker {
  display: block;
  margin-left: 18px;
  font-size: 12px;
  color: black;
}

span.soft {
  color: gray;
}

/* Forms */
.form {
  margin-top: 15px;
  margin-left: 16px;
}

.payment {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
}

input.dropshadow {
  height: 24px;
  border: none;
  box-shadow: inset 0px 1px 2px #464545;
}

textarea.dropshadow {
  border: none;
  box-shadow: inset 0px 1px 2px #464545;  
}

.inline-check {
  display: inline-block;
  line-height: 24px;
}

.btn-primary {
  display: block;
  background-color: $brightOrange;
  background-image: none;
  text-shadow: none;
  border: none;
  height: 40px;
  font-size: 19px;
  border-radius: 3px;
  color: white;
  margin-bottom: 10px;
  &:hover, &:focus {
    outline: none;
    background-color: white;
    color: $brightOrange;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Tables */
th.orange {
  background-color: $brightOrange !important;
  border: none !important;
}


/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 10px;
  }
}