@import 'bootstrap';

/* Universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 36px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(116, 116, 116);
  font-family: Montserrat Alternates, sans-serif;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    text-decoration: none;
  }
}

.navbar-inverse .navbar-inner {
  background-color: #C20909;
  background-image: none;
  border: none;
  border-bottom: 2px solid rgba(161, 159, 159, 0.7);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: white;
  text-shadow: none;
  &:hover {
    color: #29B4C7;
  }
}

/* Hero-Unit */
.hero-unit {
  background: url('chattering-blur.jpg') no-repeat;
  background-position: 70% 45%;
  max-width: 940px;
  height: auto;
}

.bright {
  font-family: Montserrat Alternates, sans-serif !important;
  color: white !important;
  text-shadow: 1px 1px 1px rgb(116, 116, 116);
}

.brighter {
  font-family: 'Raleway Dots', cursive;
  color: white !important;
  text-shadow: 1px 1px 1px rgb(116, 116, 116);
}

/* Sign Up Button */
.sign-up {
  border: none;
  color:white;
  width: 130px;
  height: 30px;
  border-radius: 3px;
  background-color: #29B4C7;
  border-bottom: 2px solid #1D808D;
  &:hover {
    background-color: #1D808D;
    border-top: 2px solid #29B4C7;
  }
}

/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 10px;
  }
}