<footer class='footer'>
  <small>
    Contact ECS by <a href='mailto:info@engineeredcorrosionsolutions.org?subject=ECS%20Trade%20Show%20Contact'>email</a> or call
847.423.2167
  </small>
  <nav>
    <ul>
      <li><small>Website by <%= link_to 'MacEisen', 'http://maceisen.com', target: '_blank' %></small></li>
    </ul>
  </nav>
</footer>