<footer class='footer'>
  <small>
    By <a href='http://huntermeyer.com' target='_blank'>Hunter</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Admin', new_admin_session_path %></li>
    </ul>
  </nav>
</footer>