<div class='sponsor-banner'>
  <span class='sponsor-text'>Presented by:  
    <a class='sponsor-link' href='http://www.chicagocoatingsgroup.com/' target='_blank'>
      <img class='sponsor-img' src='http://chicagocoatingsgroup.com/images/bg-header-logo.gif'>
      <span class='sponsor-link'>Chicago Coatings Group, llc.
      </span>
    </a>
  </span>
</div>
